* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  width: 100%;
  height: 368px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background: #121214;
}

body {
  background: #d9d9d9;
  font-family: "Poppins", sans-serif;
}

#header-wrapper {
  width: 608px;
  margin: auto;
}

header {
  width: 319px;
}

header h1 {
  color: white;
  margin-top: 80px;
}

header p {
  color: #42d3ff;
  font-size: 16px;
  line-height: 26px;
  margin-top: 24px;
}

form {
  max-width: 736px;
  max-height: 1430px;
  background: #fafafc;
  margin: 42px auto 0;
  border-radius: 8px 8px 0px 0px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset legend {
  color: #32264d;
  font-family: Archivo, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  color: #4e4958;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}

.input-wrapper label span {
  color: #c1bccc;
  font-size: 12px;
  line-height: 20px;
  margin-left: 12px;
}

.input-wrapper input,
textarea,
select {
  font-family: Poppins, sans-serif;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background: #fafafc;
  padding: 0 24px;
  color: #c1bccc;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.input-wrapper textarea {
  height: 168px;
}

.input-wrapper select {
  appearance: none;
  -webkit-appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

  background-repeat: no-repeat;
  background-position: right 24px top 50%;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  position: relative;
}

.checkbox-wrapper label {
  margin: 0;
  margin-top: 24px;
  gap: 16px;
  display: flex;
  align-items: center;
}

.checkbox-wrapper label::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;

  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

.checkbox-wrapper input:checked + label::before {
  
    background-image: url("data:image/svg+xml,%3Csvg width='609' height='26' viewBox='0 0 609 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='24' height='24' rx='8' fill='%23FAFAFC' stroke='%23E6E6F0'/%3E%3Cg clip-path='url(%23clip0_1_63)'%3E%3Cpath d='M10 17.17L5.83 13L4.41 14.41L10 20L22 8L20.59 6.59L10 17.17Z' fill='%2342D3FF'/%3E%3C/g%3E%3Cpath d='M43.352 9.278V12.54H46.908V13.59H43.352V16.95H47.328V18H42.078V8.228H47.328V9.278H43.352ZM52.1117 16.824L54.4917 10.328H55.8497L52.8397 18H51.3557L48.3457 10.328H49.7177L52.1117 16.824ZM64.1034 13.87C64.1034 14.1127 64.0894 14.3693 64.0614 14.64H57.9294C57.9761 15.396 58.2327 15.9887 58.6994 16.418C59.1754 16.838 59.7494 17.048 60.4214 17.048C60.9721 17.048 61.4294 16.922 61.7934 16.67C62.1667 16.4087 62.4281 16.0633 62.5774 15.634H63.9494C63.7441 16.3713 63.3334 16.9733 62.7174 17.44C62.1014 17.8973 61.3361 18.126 60.4214 18.126C59.6934 18.126 59.0401 17.9627 58.4614 17.636C57.8921 17.3093 57.4441 16.8473 57.1174 16.25C56.7907 15.6433 56.6274 14.9433 56.6274 14.15C56.6274 13.3567 56.7861 12.6613 57.1034 12.064C57.4207 11.4667 57.8641 11.0093 58.4334 10.692C59.0121 10.3653 59.6747 10.202 60.4214 10.202C61.1494 10.202 61.7934 10.3607 62.3534 10.678C62.9134 10.9953 63.3427 11.434 63.6414 11.994C63.9494 12.5447 64.1034 13.17 64.1034 13.87ZM62.7874 13.604C62.7874 13.1187 62.6801 12.7033 62.4654 12.358C62.2507 12.0033 61.9567 11.7373 61.5834 11.56C61.2194 11.3733 60.8134 11.28 60.3654 11.28C59.7214 11.28 59.1707 11.4853 58.7134 11.896C58.2654 12.3067 58.0087 12.876 57.9434 13.604H62.7874ZM69.523 10.188C70.4564 10.188 71.2124 10.4727 71.791 11.042C72.3697 11.602 72.659 12.414 72.659 13.478V18H71.399V13.66C71.399 12.8947 71.2077 12.3113 70.825 11.91C70.4424 11.4993 69.9197 11.294 69.257 11.294C68.585 11.294 68.0484 11.504 67.647 11.924C67.255 12.344 67.059 12.9553 67.059 13.758V18H65.785V10.328H67.059V11.42C67.311 11.028 67.6517 10.7247 68.081 10.51C68.5197 10.2953 69.0004 10.188 69.523 10.188ZM76.2941 11.378V15.9C76.2941 16.2733 76.3734 16.5393 76.5321 16.698C76.6908 16.8473 76.9661 16.922 77.3581 16.922H78.2961V18H77.1481C76.4388 18 75.9068 17.8367 75.5521 17.51C75.1974 17.1833 75.0201 16.6467 75.0201 15.9V11.378H74.0261V10.328H75.0201V8.396H76.2941V10.328H78.2961V11.378H76.2941ZM83.1857 18.126C82.4671 18.126 81.8137 17.9627 81.2257 17.636C80.6471 17.3093 80.1897 16.8473 79.8537 16.25C79.5271 15.6433 79.3637 14.9433 79.3637 14.15C79.3637 13.366 79.5317 12.6753 79.8677 12.078C80.2131 11.4713 80.6797 11.0093 81.2677 10.692C81.8557 10.3653 82.5137 10.202 83.2417 10.202C83.9697 10.202 84.6277 10.3653 85.2157 10.692C85.8037 11.0093 86.2657 11.4667 86.6017 12.064C86.9471 12.6613 87.1197 13.3567 87.1197 14.15C87.1197 14.9433 86.9424 15.6433 86.5877 16.25C86.2424 16.8473 85.7711 17.3093 85.1737 17.636C84.5764 17.9627 83.9137 18.126 83.1857 18.126ZM83.1857 17.006C83.6431 17.006 84.0724 16.8987 84.4737 16.684C84.8751 16.4693 85.1971 16.1473 85.4397 15.718C85.6917 15.2887 85.8177 14.766 85.8177 14.15C85.8177 13.534 85.6964 13.0113 85.4537 12.582C85.2111 12.1527 84.8937 11.8353 84.5017 11.63C84.1097 11.4153 83.6851 11.308 83.2277 11.308C82.7611 11.308 82.3317 11.4153 81.9397 11.63C81.5571 11.8353 81.2491 12.1527 81.0157 12.582C80.7824 13.0113 80.6657 13.534 80.6657 14.15C80.6657 14.7753 80.7777 15.3027 81.0017 15.732C81.2351 16.1613 81.5431 16.4833 81.9257 16.698C82.3084 16.9033 82.7284 17.006 83.1857 17.006ZM93.8012 11.742C94.0532 11.3033 94.4266 10.9393 94.9212 10.65C95.4252 10.3513 96.0086 10.202 96.6712 10.202C97.3526 10.202 97.9686 10.3653 98.5192 10.692C99.0792 11.0187 99.5179 11.4807 99.8352 12.078C100.153 12.666 100.311 13.352 100.311 14.136C100.311 14.9107 100.153 15.6013 99.8352 16.208C99.5179 16.8147 99.0792 17.286 98.5192 17.622C97.9686 17.958 97.3526 18.126 96.6712 18.126C96.0179 18.126 95.4392 17.9813 94.9352 17.692C94.4406 17.3933 94.0626 17.0247 93.8012 16.586V21.64H92.5272V10.328H93.8012V11.742ZM99.0092 14.136C99.0092 13.5573 98.8926 13.0533 98.6592 12.624C98.4259 12.1947 98.1086 11.868 97.7072 11.644C97.3152 11.42 96.8812 11.308 96.4052 11.308C95.9386 11.308 95.5046 11.4247 95.1032 11.658C94.7112 11.882 94.3939 12.2133 94.1512 12.652C93.9179 13.0813 93.8012 13.5807 93.8012 14.15C93.8012 14.7287 93.9179 15.2373 94.1512 15.676C94.3939 16.1053 94.7112 16.4367 95.1032 16.67C95.5046 16.894 95.9386 17.006 96.4052 17.006C96.8812 17.006 97.3152 16.894 97.7072 16.67C98.1086 16.4367 98.4259 16.1053 98.6592 15.676C98.8926 15.2373 99.0092 14.724 99.0092 14.136ZM103.262 11.574C103.486 11.1353 103.803 10.7947 104.214 10.552C104.634 10.3093 105.143 10.188 105.74 10.188V11.504H105.404C103.976 11.504 103.262 12.2787 103.262 13.828V18H101.988V10.328H103.262V11.574ZM107.869 9.082C107.626 9.082 107.421 8.998 107.253 8.83C107.085 8.662 107.001 8.45667 107.001 8.214C107.001 7.97133 107.085 7.766 107.253 7.598C107.421 7.43 107.626 7.346 107.869 7.346C108.102 7.346 108.298 7.43 108.457 7.598C108.625 7.766 108.709 7.97133 108.709 8.214C108.709 8.45667 108.625 8.662 108.457 8.83C108.298 8.998 108.102 9.082 107.869 9.082ZM108.485 10.328V18H107.211V10.328H108.485ZM113.512 16.824L115.892 10.328H117.25L114.24 18H112.756L109.746 10.328H111.118L113.512 16.824ZM118.028 14.136C118.028 13.352 118.186 12.666 118.504 12.078C118.821 11.4807 119.255 11.0187 119.806 10.692C120.366 10.3653 120.986 10.202 121.668 10.202C122.34 10.202 122.923 10.3467 123.418 10.636C123.912 10.9253 124.281 11.2893 124.524 11.728V10.328H125.812V18H124.524V16.572C124.272 17.02 123.894 17.3933 123.39 17.692C122.895 17.9813 122.316 18.126 121.654 18.126C120.972 18.126 120.356 17.958 119.806 17.622C119.255 17.286 118.821 16.8147 118.504 16.208C118.186 15.6013 118.028 14.9107 118.028 14.136ZM124.524 14.15C124.524 13.5713 124.407 13.0673 124.174 12.638C123.94 12.2087 123.623 11.882 123.222 11.658C122.83 11.4247 122.396 11.308 121.92 11.308C121.444 11.308 121.01 11.42 120.618 11.644C120.226 11.868 119.913 12.1947 119.68 12.624C119.446 13.0533 119.33 13.5573 119.33 14.136C119.33 14.724 119.446 15.2373 119.68 15.676C119.913 16.1053 120.226 16.4367 120.618 16.67C121.01 16.894 121.444 17.006 121.92 17.006C122.396 17.006 122.83 16.894 123.222 16.67C123.623 16.4367 123.94 16.1053 124.174 15.676C124.407 15.2373 124.524 14.7287 124.524 14.15ZM127.489 14.136C127.489 13.352 127.647 12.666 127.965 12.078C128.282 11.4807 128.716 11.0187 129.267 10.692C129.827 10.3653 130.452 10.202 131.143 10.202C131.74 10.202 132.295 10.342 132.809 10.622C133.322 10.8927 133.714 11.252 133.985 11.7V7.64H135.273V18H133.985V16.558C133.733 17.0153 133.359 17.3933 132.865 17.692C132.37 17.9813 131.791 18.126 131.129 18.126C130.447 18.126 129.827 17.958 129.267 17.622C128.716 17.286 128.282 16.8147 127.965 16.208C127.647 15.6013 127.489 14.9107 127.489 14.136ZM133.985 14.15C133.985 13.5713 133.868 13.0673 133.635 12.638C133.401 12.2087 133.084 11.882 132.683 11.658C132.291 11.4247 131.857 11.308 131.381 11.308C130.905 11.308 130.471 11.42 130.079 11.644C129.687 11.868 129.374 12.1947 129.141 12.624C128.907 13.0533 128.791 13.5573 128.791 14.136C128.791 14.724 128.907 15.2373 129.141 15.676C129.374 16.1053 129.687 16.4367 130.079 16.67C130.471 16.894 130.905 17.006 131.381 17.006C131.857 17.006 132.291 16.894 132.683 16.67C133.084 16.4367 133.401 16.1053 133.635 15.676C133.868 15.2373 133.985 14.7287 133.985 14.15ZM140.772 18.126C140.053 18.126 139.4 17.9627 138.812 17.636C138.233 17.3093 137.776 16.8473 137.44 16.25C137.113 15.6433 136.95 14.9433 136.95 14.15C136.95 13.366 137.118 12.6753 137.454 12.078C137.799 11.4713 138.266 11.0093 138.854 10.692C139.442 10.3653 140.1 10.202 140.828 10.202C141.556 10.202 142.214 10.3653 142.802 10.692C143.39 11.0093 143.852 11.4667 144.188 12.064C144.533 12.6613 144.706 13.3567 144.706 14.15C144.706 14.9433 144.528 15.6433 144.174 16.25C143.828 16.8473 143.357 17.3093 142.76 17.636C142.162 17.9627 141.5 18.126 140.772 18.126ZM140.772 17.006C141.229 17.006 141.658 16.8987 142.06 16.684C142.461 16.4693 142.783 16.1473 143.026 15.718C143.278 15.2887 143.404 14.766 143.404 14.15C143.404 13.534 143.282 13.0113 143.04 12.582C142.797 12.1527 142.48 11.8353 142.088 11.63C141.696 11.4153 141.271 11.308 140.814 11.308C140.347 11.308 139.918 11.4153 139.526 11.63C139.143 11.8353 138.835 12.1527 138.602 12.582C138.368 13.0113 138.252 13.534 138.252 14.15C138.252 14.7753 138.364 15.3027 138.588 15.732C138.821 16.1613 139.129 16.4833 139.512 16.698C139.894 16.9033 140.314 17.006 140.772 17.006Z' fill='%234E4958'/%3E%3Cdefs%3E%3CclipPath id='clip0_1_63'%3E%3Crect width='24' height='24' fill='white' transform='translate(1 1)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
}

.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;

  opacity: 0;
}

#collums-3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#collums-3 label {
  margin-bottom: 12px;
}

#collums-3 div {
  display: flex;
  flex-direction: column;
}

#collums-3 input {
  font-family: Poppins, sans-serif;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background: #fafafc;
  color: #c1bccc;
  padding-left: 24px;
}

#collums-3 > div:nth-child(1) {
  width: 312px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 736px;
  height: 136px;
  border-radius: 0px 0px 8px 8px;
  background: #fafafc;
  border-top: 1px solid #d6d6d6;
}

footer button {
  margin: auto;
  display: flex;
  width: 608px;
  height: 56px;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #04d361;
  border: none;
  color: #fff;
  font-family: Archivo, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

footer button:hover {
  background-color: #10af58;
  cursor: pointer;
}

input:invalid {
    border: 1px solid red;
}